* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.bloqueado {
  overflow: hidden;
}
.logo img {
    cursor: pointer;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6fcfd;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, backdrop-filter 0.3s;
}

header.vidrio {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header.scrolled {
  background: #f6fcfd;
}

header.scrolled .contenedor-central {
  padding: 10px 30px;
}

header.scrolled .logo img {
  height: 60px;
}

.contenedor-central {
  display: flex;
  align-items: center;
  gap: 60px;
}

.menu-horizontal ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-horizontal ul li a {
  text-decoration: none;
  color: #01347b;
  font-weight: 500;
}

.hamburguesa {
  margin-left: auto;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #03b49e;
  display: none;
}

/* MENU OVERLAY */

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  /* fondo oscuro translúcido detrás del panel */
  backdrop-filter: blur(2px);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 2000;
  display: flex;
  justify-content: flex-end;
  padding-top: 70px;
}

.menu-overlay.activo {
  transform: translateX(0);
}

.menu-lateral {
  background-color: #f4f3e8;
  width: 250px;
  height: 100%;
  padding: 20px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.menu-lateral .cerrar {
  font-size: 24px;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #03b49e;
}

.menu-lateral ul {
  margin-top: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-lateral ul li a {
  text-decoration: none;
  color: #03b49e;
  font-size: 18px;
}

footer {
  background-color: #f1f1f0;
  color: #80a71b;
  text-align: center;
  padding: 15px;
  line-height: 1.5;
}

h2 {
  text-decoration: none;
  color: #03b49e;
  padding: 5px;
  font-family: "chiller";
  font-size: 60px;
}

a {
  text-decoration: none;
  color: #80a71b;
  padding: 5px
}

/* Sobrepuesto.....*/

#conocenos {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

/* Imagen */
#conocenos img {
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
}

/* Texto ......*/
#conocenos div {
  flex: 1;
}

/*anuncio*/
.anuncio {
  position: relative;
  background: url("cenefa.jpg") center/cover no-repeat;
  padding: 15px 20px;
  text-align: center;
  font-size: 30px;
  font-family: "ink free";
  color: #000000;
  line-height: 1.6;
  overflow: hidden;
  /* evita desbordes */
}

.anuncio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.445);
  /* color + transparencia */
  z-index: 1;
}

.anuncio * {
  position: relative;
  z-index: 2;
  /* el texto encima del overlay */
}


/*programas*/

.programas {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  text-align: justify;
  line-height: 1.6;
}

nav a {
  font-weight: 600;
  padding-right: 20px;
  text-decoration: none;
  line-height: 1;
  align-items: center
}

.galeria {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  text-align: justify;
  line-height: 1.6;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 2rem auto;
}

#programas h3 {
  font-size: 30px;
  font-family: "ink free";
  text-align: center;
}
#programas ul {
  font-family: "roboto";
  list-style: disc;        /* mantiene los puntos */
  margin: 0 auto;          /* centra el UL */
  padding-left: 40px;      /* deja espacio para los puntos */
  width: fit-content;      /* hace que el UL se ajuste a su contenido */
}

#programas ul li::marker {
  color: #03b49e; /* color de puntos */
}

#galeria h2 {
  font-size: 60px;
  font-family: "chiller";
  text-align: center;
}

#galeria ul,
.item ul {
  list-style: disc;
  padding-left: 20px;
}

.item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.item.active {
  height: auto;
  min-height: 550px;
}

.item:hover {
  transform: scale(1.03);
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.descripcion {
  padding: 15px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #4ea93b;
}

p {
  line-height: 1.5;
}

.imagen-item {
  max-width: 280px;
  text-align: center;
}

.imagen-item img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.des-ant {
  padding: 15px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #4ea93b;
}

.item ul {
  display: none;
  margin-top: 10px;
}

.item.active ul {
  display: block;
}

/*fotos*/

.container-fotos {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.columna-33 {
    width: 33.33%;
}

.cuadrado-perfecto {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.cuadrado-perfecto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0px;
    padding-bottom: 10px;
}

#servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto {
    padding-bottom: 56.25%;
}

#fotos .cuadrado-perfecto:hover img {
    filter: grayscale(0);
}

#fotos .cuadrado-perfecto:hover h4 {
    display: none;
}

#fotos h2 {
  font-size: 60px;
  font-family: "chiller";
  text-align: center;
}

#fotos h4 {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);  /* centra el bloque */
    color: #ffffff;
    font-size: 18px;
    background-color: #03b49fc5; /* ← Fondo con transparencia */
    border-radius: 10px; /* opcional: bordes suaves */
    display: inline-block; /* para que el fondo abrace el texto */
}

#fotos img {
    filter: grayscale(0);
    filter: opacity(80%);
}


/* Formulario*/

.boton {
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  border: none;
}

.boton.boton-negro {
  color: white;
  background-color: #FA5053;
  font-size: 20px;
  font-weight: bold;

}

.boton.boton-negro:hover {
  color: black;
  background-color: white;
}

.seccion {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.columna {
  padding-right: 15px;
  padding-left: 15px;
}

.columna-41 {
  width: 41.66%;
}

.empujar-58 {
  margin-left: 58.33%;
}

#contactenos {
  position: relative;
}

#contactenos iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

#contactenos form {
  padding: 30px;
  background-color: #017c94;
}

#contactenos form .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#contactenos form .form-block .form-control {
  display: block;
  height: 30px;
  font-size: 16px;
  border: 1px solid #017c94;
  width: 100%;
  padding: 5px 10px;
  font-family: "Roboto";
}

#contactenos form .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid #017c94;
  width: 100%;
  padding: 2px 5px;
  font-family: "Roboto";
}

#contactenos form .form-block.bloque-ultimo {
  display: block;
  height: 80px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
}


/*tienda*/

#tienda {
  margin-top: 140px;
}

.tienda {
    padding: 20px 200px;
    text-align: center;
}

.tienda h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.producto {
    background: #ffffff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transition: transform 0.2s;
    transform: scale(0.90);
    transform-origin: center;
}

.producto:hover {
    transform: scale(0.94);
}

.producto img {
    width: 100%;
    border-radius: 0px;
}

.precio {
    color: #444;
    font-size: 18px;
    font-weight: bold;
}

.btn-comprar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4ea93b;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 8px;
  
}

.btn-comprar:hover {
    background-color: #24501c;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .menu-horizontal {
    display: none;
  }

  .hamburguesa {
    display: block;
  }

  .contenedor-central {
    justify-content: flex-start;
    flex: 1;
  }

  header {
    justify-content: space-between;
  }

  #conocenos {
    flex-direction: column;
    text-align: center;
  }

  #conocenos img {
    margin: 0 auto 15px auto;
  }

  .columna-mobile-50 {
        width: 50%;
    }

}

.logo img {
  height: 90px;
  /* Ajustá según el tamaño deseado */
  display: block;
  transition: height 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.carrusel {
  position: relative;
  z-index: 1;
  height: 800px;
  overflow: hidden;
}

.carrusel-inner {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carrusel-inner img {
  width: 100vw;
  /* una imagen por "pantalla" */
  height: 100%;
  /* ocupa todo el alto del carrusel */
  object-fit: cover;
  /* se recorta sin deformarse */
  object-position: top;
  flex: none;
  /* evita que se redimensionen */
}

/* Puntos */
.carrusel-puntos {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  /* ← más alto que la sección */
  display: flex;
  gap: 12px;
  transition: bottom 0.3s ease;
}

.punto {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.punto.activo {
  background-color: #03b49e;
}

.sobrepuesta {
  max-width: 800px;
  margin: 100px auto 50px;
  position: relative;
  z-index: 10;
  margin-top: -20px;
  /* no subas tanto */
  padding: 100px 20px 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);

}
